<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="alf.gasdroide"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".GasdroideActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  <activity android:name=".AppPreferences" /> -->
        <!--  <activity android:name=".ShowSettingsActivity" /> -->
        <activity android:label="Preferences" android:name="HelloPreferences"/>
        <activity android:label="Preferences" android:name=".Preferences"></activity>
        <activity android:label="ShowSettingsActivity" android:name=".ShowSettingsActivity"></activity>
        
        <activity android:name=".EditPreferences"
          android:label="EditPreferences">
        <activity android:label="GasDataReader" android:name=".GasDataReader"></activity> 
        <activity android:label="ADInterface" android:name=".ADInterface"></activity> 
        <activity android:label="IntDummy" android:name=".IntDummy"></activity> 
        </activity>

    </application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
</manifest>
